

/* policy section */
.features-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .feature {
    /* max-width: 300px; */
    width: 20%;
  }
  
  .icon-circle {
    width: 200px;
    height: 200px;
   border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
  }
  
  .icon-circle img {
    width: 180px;
    height: 180px;
  }
  
  .feature h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 14px;
    color: #555;
  }
  